/*hello world*/

body {
  color:#421a49;
  background-color: #fbe5ff;
  font-family: "Gaegu", sans-serif;
}

h1 {
  color:#421a49;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  
}

.projectTitle {
  color: #92679C;
  font-size: 2em;
  margin:auto;
}

.projectLanguages {
  color:#92679C;
  font-size: 1em;
  font-weight: bold;
}

.projectButtons {
  background-color: #e7c1ff;
  border-color: #421a49;
  border-style: solid;
  font-family: "Gamja Flower", "Gaegu", sans-serif;

}

.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* white-space: nowrap; */
  /* margin:auto; */

}

.allProjects {
  display: grid;
  grid-template: auto / auto auto;
}

.projectBox {
  border: 0.2em, solid, #92679C;
  border-radius: 3em;
  padding: 2em;
  margin: 1em;
  font-family: "Gamja Flower", "Gaegu", sans-serif;
  font-size: 1.2em;

}

.imageButton {
  
}

/* .menu {
  display: flex;
  /* width: 60%;
  margin-left: 20%;
  margin-right: 20%;
} */


p {
  font-size: 0.9em;

}