

body {
  color:#421a49;
  background-color: #fbe5ff;
  font-family: "Gaegu", sans-serif;
}

h1 {
  color:#421a49;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  
}

button {
  cursor: pointer;
}

.projectTitle {
  color: #92679C;
  font-size: 2em;
  margin:auto;
}

.projectLanguages {
  color:#92679C;
  font-size: 1em;
  font-weight: bold;
}

.projectButtons {
  background-color: #e7c1ff;
  border-color: #421a49;
  border-style: solid;
  font-family: "Gamja Flower", "Gaegu", sans-serif;

}

.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* white-space: nowrap; */
  /* margin:auto; */

}

.allProjects {
  display: grid;
  flex-direction: row;
  grid-template: auto / auto auto auto;
}

.projectBox {
  border: 0.2em, solid, #92679C;
  border-radius: 3em;
  padding: 2em;
  margin: 1em;
  font-family: "Gamja Flower", "Gaegu", sans-serif;
  font-size: 1.2em;

}

.socialButtons {
  background-color: #e7c1ff;
  border-width: 0.15em;
  border-radius: 0.35em;
  border-color: #92679C;
  border-style: solid;
  font-family: "Gamja Flower", "Gaegu", sans-serif;
  font-size: 1.5em;
  
}


p {
  font-size: 0.9em;
}

.projectAwardAddition {
  background-color: #CCCCCC;
  color: #1c1c1c;
  font-family: "Gaegu", "Gamja Flower", sans-serif;
  padding: 1%;
  height:auto;
  width: 75%;
  border-radius: 0.5em;
  border: 0.1em, solid, #1c1c1c;
  text-align: center;
  margin: auto;
}


.poem {
  width: fit-content;
  margin: auto;
  border: 0.5em, solid, #92679C;
  border-radius: 0.3em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;

}